*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-color: #444444;
  --border-radius: 32px;
  --border-radius-small: 16px;
  --content-header: 1.8rem;
  --content-paragraph: 1.5rem;
  --content-small: 1.1rem;
  --content-medium: 1.4rem;
  --content-large: 1.6rem;
  --hover-bg-color: #51404f;
  --hover-text-color: #ffffff;
  --link-light-color: #ff9900;
  --link-light-hover-color: #ffffff;
  --margin-bottom: 2rem;
  --margin-bottom-small: 1rem;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
  background: url("../images/parker-galactic-pacific-wonderland-ep-album-cover.png")
    no-repeat center/cover fixed;
}

header img {
  max-width: 100%;
  padding: 30px 0;
}

h2 {
  font-size: var(--content-header);
  text-transform: uppercase;
  margin-bottom: var(--margin-bottom);
}

h3 {
  font-size: var(--content-large);
  margin-bottom: var(--margin-bottom);
}

p {
  font-size: var(--content-paragraph);
  margin-bottom: var(--margin-bottom);
}

ul {
  list-style: none;
}

a {
  color: var(--link-light-color);
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: var(--link-light-hover-color);
  text-decoration: underline;
}

i {
  padding-right: 5px;
}

img {
  max-width: 100%;
  border-radius: var(--border-radius);
}

/* Utility */
.container {
  overflow-x: hidden;
  position: relative;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  padding: 3rem;
  margin-bottom: var(--margin-bottom);
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: var(--margin-bottom);
}

.links {
  font-size: var(--content-small);
  border-radius: var(--border-radius);
  margin-right: 2rem;
}

/* Header */
.logo {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

.page {
  max-width: 1440px;
  margin: 0 auto;
}

.page-narrow {
  max-width: 600px;
  margin: 32px auto 0;
}

.separator {
  bottom: -4px;
  left: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* Section: Welcome */
.welcome {
  background-color: white;
  color: black;
}

.welcome .welcome-flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 6rem;
}

.welcome h2 {
  margin-top: 0;
}

.welcome .welcome-content {
  max-width: 50%;
}

.welcome .links {
  color: #000000;
}

.welcome .links-container {
  padding-top: 30px;
  justify-content: flex-start;
}

.welcome .welcome-image {
  max-width: 50%;
}
.welcome .welcome-image-wide {
  max-width: 100%;
  margin-top: 30px;
}

.welcome .contact-form {
  margin-bottom: var(--margin-bottom);
  width: 100%;
}

.welcome .contact-form .btn {
  display: inline-block;
  padding: 1.4rem 1.7rem;
  background-color: #000000;
  border-radius: var(--border-radius);
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
  margin-right: 10px;
  font-size: var(--content-medium);
}

.welcome .contact-form .btn:hover {
  background: #333333;
  color: #ffffff;
  text-decoration: underline;
}

.welcome .contact-form input,
.welcome .contact-form textarea {
  display: block;
  width: 50%;
  font-family: inherit;
  font-size: medium;
  margin: 0 0 1.5rem;
  border: 1px solid #ccc;
  padding: 1.2rem;
}

.welcome .contact-form textarea {
  width: 80%;
  height: 200px;
}

.welcome .contact-form .field-error {
  display: block;
  color: #ff0000;
  font-size: 0.85rem;
  margin-top: -0.75rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.welcome .contact-form .contact-form-checkbox {
  display: flex;
  align-items: center;
  padding: 1.2rem 1rem;
  margin: 1.5rem 0;
}

.welcome .contact-form .contact-form-checkbox input[type="checkbox"] {
  transform: scale(3, 3);
  max-width: 100px;
}

.welcome .contact-form .contact-form-checkbox label {
  font-size: var(--content-medium);
  height: 60px;
}

/* Section: Upcoming Shows */
.shows {
  background-color: black;
  color: white;
}

.shows .shows-flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6rem;
}

.shows .shows-content {
  max-width: 50%;
}

.shows .shows-content img {
  max-width: 100%;
  border: 3px solid #ccc;
}

/* Section: Recordings */
.recordings {
  background-color: black;
  color: white;
}

.recordings .recordings-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6rem;
}

.recordings .recordings-item-content {
  font-size: var(--content-small);
  width: 100%;
}

/* Section: Videos */
.videos {
  background-color: black;
  color: white;
}

.videos .videos-item-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: var(--margin-bottom);
}

.videos .videos-item-container .videos-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Section: Past Shows */
.past-shows {
  background-color: black;
  color: white;
}

.past-shows .past-shows-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  column-gap: 3rem;
}

.past-shows .past-shows-grid img {
  width: 100%;
  border: 2px solid #fff;
}

.past-shows .past-shows-item p {
  font-size: var(--content-small);
  margin-top: 10px;
}

/* Listen */
.listen {
  background-color: white;
  color: black;
}

.listen .listen-flex {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.listen h1 {
  margin-top: 1rem;
  margin-bottom: 0;
}
.listen p {
  margin: 0 0 var(--margin-bottom);
}

.listen .music-services-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.listen .music-services-container img {
  display: inline-block;
  max-width: 50%;
  border: 1px solid #000;
  border-radius: 0;
  margin-right: 10px;
}

/* Footer */
.footer {
  background: #000;
  color: #fff;
}

.footer .footer-content {
  max-width: 1440px;
  margin: 0 auto;
}

.footer .footer-content .links-container {
  justify-content: center;
}

.footer .footer-content p {
  text-align: center;
}

.footer .copyright {
  font-size: var(--content-small);
  margin-bottom: 0;
  text-align: center;
}

@media (max-width: 900px) {
  html,
  body {
    background: none;
  }

  body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url("../images/parker-galactic-pacific-wonderland-ep-album-cover.png")
      no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  h2,
  h3 {
    font-size: var(--content-small);
    margin-bottom: var(--margin-bottom-small);
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius-small);
  }

  p {
    font-size: var(--content-small);
    margin-bottom: 10px;
    padding: 0;
  }

  .btn {
    padding: 0;
    border-radius: 0;
    margin-right: 0;
    margin-top: 2rem;
  }

  .container {
    border-radius: var(--border-radius-small);
    padding: 1rem;
  }

  .links-container {
    gap: 1rem;
    margin-bottom: var(--margin-bottom-small);
  }

  .links {
    padding: 1.2rem;
    margin-right: 0;
  }

  .welcome .welcome-flex {
    flex-direction: column;
    gap: 0;
  }

  .welcome .btn {
    padding: 1rem;
    background: none;
    border-radius: 0;
    margin-right: 0;
    margin-top: 0;
    font-size: var(--content-small);
  }

  .welcome .btn:hover {
    background: none;
    color: #000000;
    text-decoration: underline;
  }

  .welcome .welcome-content {
    max-width: 100%;
  }

  .welcome .welcome-image {
    display: none;
  }

  .shows .shows-flex {
    flex-direction: column;
    gap: 2rem;
  }

  .shows .shows-content {
    max-width: 100%;
  }

  .shows .shows-content a {
    max-width: 100%;
  }

  .recordings .recordings-flex {
    gap: 1rem;
  }

  .past-shows .past-shows-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }

  .past-shows .past-shows-grid img {
    margin-top: 20px;
    border: 0;
    border-bottom: 3px solid #e7e7e7;
  }

  .footer .links {
    margin-right: 1rem;
    padding: 1rem 0.5rem;
    max-width: 100%;
  }

  .footer .footer-content a {
    font-size: var(--content-small);
  }
}

@media (max-width: 750px) {
  .btn {
    padding: 1rem;
    background: none;
    border-radius: 0;
    margin-right: 0;
    margin-top: 0;
    font-size: var(--content-small);
  }

  .btn:hover {
    background: none;
    color: #000000;
    text-decoration: underline;
  }

  .links-container {
    flex-direction: column;
    gap: 0;
  }

  .welcome .welcome-image {
    display: block;
    max-width: 100%;
  }

  .welcome .welcome-image img {
    max-width: 100%;
  }

  .welcome .welcome-image-wide {
    display: none;
  }

  .welcome .links-container {
    flex-direction: column;
    gap: 0;
  }
  .welcome .contact-form .contact-form-checkbox {
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  .welcome .contact-form .contact-form-checkbox label {
    display: inline-block;
    font-size: var(--content-medium);
    height: 60px;
  }
  .welcome .contact-form .contact-form-checkbox input[type="checkbox"] {
    transform: none;
  }
}
