large* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-color: #444444;
  --border-radius: 32px;
  --button-dark-bg-color: #eeeeee;
  --button-dark-text-color: #272d35;
  --button-dark-border-color: #333333;
  --button-light-bg-color: #eeeeee;
  --button-light-text-color: #272d35;
  --button-light-border-color: #ffffff;
  --content-header: 1.8rem;
  --content-paragraph: 1.5rem;
  --content-small: 1.1rem;
  --content-medium: 1.4rem;
  --content-large: 1.6rem;
  --hover-bg-color: #51404f;
  --hover-text-color: #ffffff;
  --link-light-color: #ff9100;
  --link-light-hover-color: #ffffff;
  --link-dark-color: #0059ff;
  --link-dark-hover-color: #333333;
  --margin-bottom: 2rem;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
  background: url("../images/parker-galactic-pacific-wonderland-ep-album-cover.png")
    center/cover no-repeat fixed;
}

header img {
  max-width: 100%;
  padding: 30px 0;
}

h2 {
  font-size: var(--content-header);
  text-transform: uppercase;
  margin-bottom: var(--margin-bottom);
}

h3 {
  font-size: var(--content-large);
  margin-bottom: var(--margin-bottom);
}

p {
  font-size: var(--content-paragraph);
  margin-bottom: var(--margin-bottom);
}

ul {
  list-style: none;
}

a {
  color: var(--link-light-color);
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: var(--link-light-hover-color);
  text-decoration: underline;
}

img {
  max-width: 100%;
  border-radius: var(--border-radius);
}

/* Utility */

.btn {
  display: inline-block;
  padding: 1.2rem 1.4rem;
  border: 1px solid #ffffff;
  border-radius: var(--border-radius);
  background: #000000;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
  margin-right: 10px;
  font-size: var(--content-small);
}

.btn:hover {
  background: #333333;
  color: #ffffff;
  border-color: #ffffff;
}

.container {
  overflow-x: hidden;
  position: relative;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  padding: 3rem 3rem;
  margin-bottom: var(--margin-bottom);
}

.links {
  display: inline-block;
  font-size: var(--content-small);
  border-radius: var(--border-radius);
  padding: 0.5rem 0.7rem;
  margin-right: 2rem;
  margin-bottom: 0.8rem;
}

/* Header */
.logo {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

.page {
  max-width: 1440px;
  margin: 0 auto;
}

.separator {
  bottom: -4px;
  left: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* Section: Welcome */
.welcome {
  background-color: white;
  color: black;
}

.welcome .welcome-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 6rem;
}

.welcome .btn {
  display: inline-block;
  padding: 1.2rem 1.4rem;
  border: 1px solid #000000;
  border-radius: var(--border-radius);
  background: #e7e7e7;
  color: #000000;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
  margin-right: 10px;
  font-size: var(--content-small);
}

.welcome .btn:hover {
  background: #333333;
  color: #ffffff;
  border-color: #ffffff;
}

.welcome .welcome-image-wide {
  max-width: 100%;
  margin-top: 30px;
}

.welcome .welcome-content {
  max-width: 55%;
}

.welcome .contact-form {
  margin-bottom: var(--margin-bottom);
  width: 550px;
  max-width: 550px;
}

.welcome .contact-form input,
.welcome .contact-form textarea {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: medium;
  margin: 0 0 1.5rem 0;
  border: 1px solid #ccc;
  padding: 1.2rem 1rem;
}

.welcome .contact-form textarea {
  height: 200px;
}

.welcome .contact-form .contact-form-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.2rem 1rem;
  margin: 1.5rem 0;

  input[type="checkbox"] {
    transform: scale(3);
    max-width: 100px;
  }

  label {
    font-size: var(--content-medium);
    height: 60px;
  }
}

.welcome .contact-form .btn {
  width: 100%;
}

.welcome .contact-social {
  display: flex;
  flex-direction: row;
}

.welcome .contact-social a {
  color: var(--link-dark-color);
}

.welcome .contact-social a:hover {
  color: var(--link-hover-dark-color);
}

/* Section: Upcoming Shows */
.shows {
  background-color: black;
  color: white;
}

.shows .shows-flex {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  gap: 6rem;
}

.shows .shows-content {
  max-width: 50%;
}
/* Section: Recordings */
.recordings {
  background-color: black;
  color: white;
}

.recordings .recordings-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6rem;
}

.recordings .recordings-item-content {
  font-size: var(--content-small);
  width: 100%;
}

/* Section: Videos */
.videos {
  background-color: black;
  color: white;
}

.videos .videos-item-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: var(--margin-bottom);
}

.videos .videos-item-container .videos-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Section: Past Shows */
.past-shows {
  background-color: black;
  color: white;
}

.past-shows .past-shows-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  column-gap: 3rem;
}

.past-shows .past-shows-grid img {
  width: 100%;
  transition: transform 0.4s;
  border: 2px solid #fff;
}

.past-shows .past-shows-grid img:hover {
  transform: scale(1.1);
}

.past-shows .past-shows-item p {
  font-size: var(--content-small);
  margin-top: 10px;
}

/* Footer */
.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000;
  color: #fff;
}

.footer .footer-content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 0 4rem;
}

.footer .footer-content a {
  display: inline-block;
  font-size: var(--content-medium);
  margin-right: 1rem;
  margin-bottom: var(--margin-bottom);
  color: var(--link-light-color);
}

.footer .footer-content a:hover {
  color: var(--link-light-hover-color);
}

.footer .footer-content p {
  text-align: center;
}

/* Ad: Landing Page */
